
a, a:visited, a:focus, a:hover {
    text-decoration: none;
}

a {
	color: black;
}

a:focus, a:hover {
    color: gray;
}

.card-header{
  background-color: #2f4f4f;
}

.bg-info{
  background-color: #3cb371 !important;
}


.img_wrap{
  border: 1px solid #ddd;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}

.img_wrap img {
  width: 100%;
  transition-duration: 0.5s;
}

.card:hover a div img {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
