body{
  background-color: #000;
}

.resizeimage img {
  max-width: 43vw;
  max-height: 100vh;
}

.relative {
    position: relative;
    width: 100vw;
  	height: 100vh;
}

.absolute {
	display: flex;
  position: absolute;
  width: 100vw;
	height: 100vh;
	top: 0;
  left: 0;
}

.absolute button{
  opacity: 0.8;
  z-index: 10;
  width: 5vw;
  height: 100vh;
}

.absolute .left{
  opacity: 0;
	width: 45vw;
  height: 100vh;
}
.absolute .right{
  opacity: 0;
	width: 50vw;
  height: 100vh;
}

.container_img,
.elements{
  display:table-cell;
  vertical-align:middle;
}

.container_img{
  width: 100%;
  height: 100%;
  display:table;
  text-align:center;
}